**/node_modules/
**/package-lock.json
**/pnpm-lock.yaml
**/yarn.lock
**/.DS_Store
**/Thumbs.db
**/*.log
**/.vscode/
**/.idea/
**/logs/
**/temp/
**/coverage/
**/dist/
**/build/
**/.turbo/
**/.eslintcache


**/.env
**/.env.local
**/.env.*.local

**/*.txt